<div class="container">
    <h1>About us</h1>
    <p>OLR (Online Rental Website) is specialised to help people to list their car to make some extra money while they do not use their car and to rent a car when they need to drive</p>
    <p>If u need a question,feel free to question us by clicking link below</p>
    <a href="/contact">Contact us</a>
    <small>All rights reserved. Copyright &copy 2022</small>
</div>
<style>
    body{
        background-image: url('/image/background.jpg');
    }
</style>