<div class="container">
    <h2 class="'centre">Welcome</h2>
    <h2 class="centre1">Car Rental Service</h2>
    <h2 class="'centre2">
        <a href="/auth/facebook" class="btn btn-primary">Login with facebook</a>
     </h2>
    <h2> 
        <a href="/auth/google" class="btn btn-danger">Login with google</a>
    </h2>
    <h2>
         <a href="/email" class="btn btn-info">Login with email</a>
    </h2>
    <h5>
        <a href="/signup" class="href">Need an Account?</a>
    </h5>
</div>
<style>
    body{
        background-image: url('/image/background.jpg');
    }
</style>