<div class="container">
    <h2 class="'centre">Welcome</h2>
    <h2 class="centre1">Car Rental Service</h2>
    <h2>
         <a href="/displayLoginForm" class="btn btn-info">Login with email</a>
    </h2>
    <h5>
        <a href="/signup" class="href">Need an Account?</a>
    </h5>
</div>
<style>
    body{
        background-image: url('/image/background.jpg');
    }
</style>