<div class="container">
    <div class="col-sm">

    </div>
    <div class="col-sm-4">
        <h3 class="green">Success!</h3>
        <p class="green">Thank you for your payment</p>
        <p>Customer email:{{charge.source.name}}</p>
        <p>Amount:{{budjet.total}}Rs</p>
        <p>Card Ending : {{charge.source.last4}}</p>
        <p>Card : {{charge.source.brand}}</p>
        <a href="/">Go To Profile</a>
    </div>
    <div class="col-sm"></div>
</div>
<style>
    body{
        background-image: url('/image/carrent.jpg');
    }
</style>